body{margin:0;}
.Nav{width:1000px;
           margin-left: auto;
           margin-right: auto;
           min-height: 50px;
 }

 .logo{float:left;
      

 }


nav ul li{
         float:right;
         list-style-type: none;
         padding: 20px;
         color: grey;
          }




.banner{margin:0 150px ;}

.block2{margin: 0 auto;
        width: 1000px;}


        
}
.red{height: 200px;
	 width: 50%;
      background: red;
      float:left; }

.orange{width: 50%;
       background: orange;
       float: left;
}    


.block3{margin-top: 100px;
	    
	    min-height: 500px;
      width: 1000px;
      margin-left: auto;
      margin-right: auto;


	}
  .imagebox{width: 50%;
          float: left;
          padding: 10px;
          box-sizing: border-box;
          height: 400px;
        }
       /* .red{background: red;}
.blue{background: blue;}*/

footer{width: 100%;
       min-height: 50px;
       background: #dcd8d882;
       text-align: center;
       color: #6b6969d9;
       padding: 5px;

       
        

 }
